<div class="sidebar-header">
  <div class="logo clearfix">
    <a [routerLink]="['/']" class="logo-text float-left">
      <span class="text align-middle">Reddit client viewer</span>
    </a>
  </div>
</div>

<div class="sidebar-content">
  <div class="nav-container">
    <ul class="navigation">
      <li *ngFor="let p of posts">
        <div
          class="card"
          (click)="navbarService.HideSidebar = true"
          [routerLink]="['/post', p.data.id]"
          routerLinkActive="router-link-active"
          style="cursor:pointer;"
        >
          <div class="card-body">
            <div class="card-block pt-3 text-left">
              <div class="clearfix">
                <div class="d-flex justify-content-between">
                  <span>
                    <i
                      *ngIf="!p.seen"
                      class="fa fa-circle info"
                      style="line-height:1.6rem"
                    ></i>
                    <h5 class="text-bold-500 primary float-left">
                      {{ p.data.author }}
                    </h5>
                  </span>

                  <span class="info">{{ p.hours_message }}</span>
                </div>
              </div>
              <div class="d-flex mb-2">
                <img
                  *ngIf="p.data.thumbnail !== 'default'"
                  [src]="p.data.thumbnail"
                  style="height:85px;"
                  class="col-4 p-0"
                />
                <span class="col-8"> {{ p.data.title }} </span>
              </div>
              <div class="d-flex justify-content-between">
                <div class="actions float-left">
                  <span (click)="dismissPost(p.data.id)"
                    ><i class="ft-x-circle danger"></i> Dismiss post</span
                  >
                </div>
                <span class="info">{{ p.data.num_comments }} comments</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary " (click)="previous()">
        <span class="text-white">Previous</span>
      </button>
      <button class="btn btn-primary" (click)="next()">
        <span class="text-white">Next</span>
      </button>
    </div>
    <button class="btn btn-primary form-control" (click)="dismissAll()">
      <span class="text-white">Dismiss all</span>
    </button>
  </div>
</div>
